include mixins/header
include mixins/navbar
include mixins/footer

+header()
body
  +navbar()
  br
  .text-center
    - var eboard_years = []
    - resources.eboards.forEach(eboard => eboard_years.push(eboard.year))
    - const current_eboard = resources.eboards[0]
    - const previous_eboards = resources.eboards.slice(1)
    h2 Eboard #{current_eboard.year}

  article.grid-container
    hr
    .grid-x.grid-margin-x.small-up-2.medium-up-3.large-up-6
      each officer in current_eboard.officers
        .cell
          img.thumbnail(src=`/assets/img/officers/${current_eboard.year}/${officer.name.toLowerCase().replace(' ','_').replace("'","")}.jpg`)
          h5= officer.position
          h3= officer.name
          p= officer.bio ? officer.bio : 'Bio pending'
          //-a.button.small.expanded.hollow(href='#') Buy

  each year in eboard_years
    p: a(href=`/eboard//${year}`)=year
  +footer()
